.mx-auto{
  margin: 0 auto;
}
.text-right{
  text-align: right;
}

.pt-160{
  padding-top: 160px;
}
.mb-160{
  margin-bottom: 160px;
}
.mt-160{
  margin-top: 160px;
}
.text-m{
  font-size:32px;
  padding:48px 0;
}
.w-50{
  width: 50%;
}
.me-auto{
  margin-left: auto;
}
.mb-80{
  margin-bottom: 80px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-8{
  margin-bottom: 8px;
}
.mt-40{
  margin-top: 40px;
}
.italic{
  font-size:20px;
  color:#949494;
  font-style:italic;
}
.mb-12{
  margin-bottom: 12px;
}
.me-40{
  margin-right: 40px;
}
